.form {
   max-width: 700px;
   margin: 40px auto;
   flex-direction: column;
}
.form button {
   padding: 10px 20px;
   border-radius: 10px;
   color: #fff;
   background-color: #3498db;
   font-weight: 500;
   transition: all ease 0.4s;
}

.form button:hover {
   opacity: 0.7;
}

.inputWrapper {
   margin-bottom: 15px;
}
.inputWrapper label {
   display: block;
   font-size: 1rem;
   line-height: 1;
   padding-bottom: 5px;
}

.inputWrapper input {
   display: block;
   width: 100%;
   font-size: 1rem;
   padding: 10px;
   border-radius: 8px;
   border: 1px solid #ccc;
   transition: 0.3s;
}
.inputWrapper input:hover,
.inputWrapper textarea:hover,
.inputWrapper textarea:focus,
.inputWrapper input:focus {
   border-color: #34495e;
   background-color: #fff;
   box-shadow: 0 0 0 2px #506a85;
}

.inputWrapper input[type='color'] {
   width: 100px;
   height: 50px;
}

.inputWrapper textarea {
   width: 100%;
   height: 120px;
   padding: 10px;
   font-size: 1rem;
   padding: 10px;
   border-radius: 8px;
   border: 1px solid #ccc;
   resize: vertical;
   transition: 0.3s;
}